[submodule "Piscine-Embeded-Module-0"]
	path = Piscine-Embeded-Module-0
	url = https://github.com/42-Course/Piscine-Embeded-Module-0
[submodule "Piscine-Embeded-Module-1"]
	path = Piscine-Embeded-Module-1
	url = https://github.com/42-Course/Piscine-Embeded-Module-1
[submodule "Piscine-Embeded-Module-2"]
	path = Piscine-Embeded-Module-2
	url = https://github.com/42-Course/Piscine-Embeded-Module-2
[submodule "Piscine-Embeded-Module-3"]
	path = Piscine-Embeded-Module-3
	url = https://github.com/42-Course/Piscine-Embeded-Module-3
[submodule "Piscine-Embeded-Module-4"]
	path = Piscine-Embeded-Module-4
	url = https://github.com/42-Course/Piscine-Embeded-Module-4
[submodule "Piscine-Embeded-Module-5"]
	path = Piscine-Embeded-Module-5
	url = https://github.com/42-Course/Piscine-Embeded-Module-5
